fastapi~=0.115.11
uvicorn[standard]
aiomoex>=2.1.2
aiohttp~=3.11.14
pandas~=2.2.3
openpyxl
beautifulsoup4~=4.13.4
lxml
sqlmodel~=0.0.24
python-dotenv
pydantic~=2.10.6
pydantic-settings
streamlit~=1.44.1
requests~=2.32.3
arch~=7.2.0
catboost~=1.2.8
ta~=0.11.0
numpy~=2.2.4
altair~=5.5.0
pytorch-forecasting~=1.3.0
pytorch-lightning~=2.5.1.post0
quantstats~=0.0.63